@using GCCorePSAV.Models;
@model ContactTypeModel
<br />
<section>
    <form method="post" asp-action="ContactType" asp-controller="PSAVCrud">
        <div class="container-fluid">
            <div class="row">
                <h5>Nuevo Tipo Contacto</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <h6>Datos tipo contacto</h6>
            <div class="row">
                <div class="col-md-6 form-group">
                    <table border="0">
                        <thead>
                            <tr><th>Usuario</th></tr>
                        </thead>
                        <tr>
                            <td><div class="form-group"><input asp-for="ID" class="form-control"  /></div></td>
                        </tr>
                        <tr>
                            <td><div class="form-group"><input asp-for="ContactTypeD" class="form-control"  /></div></td>
                        </tr>
                        <tr><td><div class="form-group"><input asp-for="ContactTypeDesc" class="form-control"  /></div></td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class=".col-md-3 .col-md-offset-3">
                    <table border="0">
                        <tr>
                            <td><button type="reset" class="btn btn-default">Cancelar Operación</button></td>
                            <td><button type="submit" class="btn btn-default">Siguiente</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>