@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
@using GCCorePSAV.Controllers.Services
@inject LoggedInComponent Lgc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@await Lgc.IsAuth(HttpContextAccessor.HttpContext.Request.Cookies["Bearer"], HttpContextAccessor.HttpContext.Request.Cookies["pandoraRules"])
@if (Lgc.isAuth)
{
    <br /><br /><br />
    <form asp-action="NewUser" asp-controller="PSAVCrud" method="post">
        <button type="submit" class="btn btn-default">Nuevo</button>
    </form>
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Persona</th>
                <th>Ver detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.datasource)
            {
                <form method="post" asp-action="Editusuario" asp-controller="PSAVCrud">
                    <tr>
                        <td>@item.Username<input type="hidden" id="usn" name="usn" value="@item.Username" /></td>
                        <td>@item.Persona</td>
                        <td><button type="submit" class="btn btn-default">Ver</button></td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

}