@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using GCCorePSAV.Models
@using GCCorePSAV.Controllers.Services
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
@model SyncPSAV.SalonIL
@inject LoggedInComponent Lgc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@await Lgc.IsAuth(HttpContextAccessor.HttpContext.Request.Cookies["Bearer"], HttpContextAccessor.HttpContext.Request.Cookies["pandoraRules"])
@if (Lgc.isAuth)
{
    <br />

    <form method="post" asp-action="EditItemList" asp-controller="PSAV">
        <input type="hidden" name="Advance" id="Advance" value="0" />
        <div class="container-fluid">
            <div class="row">
                <h5>Detalle Evento</h5>
                <hr />
                <h6>Datos del Evento</h6>
                <table border="0" class="table" width="100%">
                    <thead>
                        <tr><th>Evento</th></tr>
                    </thead>
                    <tr>
                        @*<td><div class="form-group"><label asp-for="EventoName" class="control-label"></label><input asp-for="EventoName" class="form-control" disabled value="@HttpContextAccessor.HttpContext.Request.Cookies["EVN"]" /></div></td>*@
                    </tr>
                    <tr><td><div class="form-group"><input asp-for="Salon" class="form-control" /></div></td></tr>
                    <tr><td><div class="form-group"><input asp-for="Asistentes" class="form-control" /></div></td></tr>
                    <tr><td><div class="form-group"><input asp-for="Montaje" class="form-control" /></div></td></tr>
                    <tr><td><div class="form-group"><input asp-for="Horario" class="form-control" /></div></td></tr>
                </table>
            </div>
            <div class="row">
                <table border="0" class="table" width="100%">
                    <thead>
                        <tr><th>Renta de equipo y servicios</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ej-grid id="FlatGrid" allow-paging="true">
                                    <e-datamanager json="(IEnumerable<object>)ViewBag.datasource" update-url="ItemListNormalUpdate" insert-url="ItemListNormalInsert" remove-url="ItemListNormalDelete" adaptor="remoteSaveAdaptor" />
                                    <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" edit-mode="@(EditMode.Dialog)"></e-edit-settings>
                                    <e-toolbar-settings show-toolbar="true" toolbar-items="@(new List<string>() { "add", "edit", "delete", "update", "cancel" })"></e-toolbar-settings>
                                    <e-columns>
                                        <e-column field="ID" header-text="ID" is-identity="true" is-primary-key="true" validation-rules='new Dictionary<string, object>() { {"required",true}, {"number",true} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Clave" header-text="Clave" validation-rules='new Dictionary<string, object>() { {"required",true} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Cantidad" header-text="Cantidad" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                        <e-column field="Dias" header-text="Dias" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Descripcion" header-text="Descripcion" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' width="80"></e-column>
                                        <e-column field="PrecioUnit" header-text="PrecioUnit" validation-rules='new Dictionary<string, object>() { {"required",true}, {"minlength",1} }' text-align="Right" width="75"></e-column>
                                        <e-column field="Categoria" header-text="Categoria" datasource="(IEnumerable<object>)ViewBag.datasourcedrop" edit-type="DropdownEdit"></e-column>
                                    </e-columns>
                                </ej-grid>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <table border="0">
            <tr><td><button type="submit" class="btn btn-default">Guardar</button></td></tr>
        </table>
    </form>
    
}
