@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using GCCorePSAV.Models
@using GCCorePSAV.Controllers.Services
@model CaptureRatio.CRVModel
@inject LoggedInComponent Lgc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@await Lgc.IsAuth(HttpContextAccessor.HttpContext.Request.Cookies["Bearer"], HttpContextAccessor.HttpContext.Request.Cookies["pandoraRules"])
@if (Lgc.isAuth)
{

    <br />
    
        <form method="post" asp-action="NewCratio" asp-controller="PSAV">
            <div class="container-fluid">
                <div class="row">
                    <h5>Nuevo Capture Ratio</h5>
                    <hr />
                    <h6>Datos Generales</h6>
                    <div class="row">
                        <div class="col-md-10">
                            <table border="0" class="table" width="100%">
                                <thead>
                                    <tr><th>Información Reporte</th></tr>
                                </thead>
                                <tr>
                                    <td><div class="form-group"><label asp-for="HotelName" class="control-label"></label><input asp-for="HotelName" class="form-control" /></div></td>
                                    <td><div class="form-group"><label asp-for="City" class="control-label"></label><input asp-for="City" class="form-control" /></div></td>
                                    <td><div class="form-group"><label asp-for="FechaLoc" class="control-label"></label><input asp-for="FechaLoc" class="form-control" /></div></td>
                                </tr>
                                <tr>
                                    <td><div class="form-group"><label asp-for="DET" class="control-label"></label><input asp-for="DET" class="form-control" /></div></td>
                                    <td><div class="form-group"><label asp-for="ContactDET" class="control-label"></label><input asp-for="ContactDET" class="form-control" /></div></td>
                                    <td><div class="form-group"><label asp-for="NameFillForm" class="control-label"></label><input asp-for="NameFillForm" class="form-control" /></div></td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <table border="0" class="table" width="100%">
                                    <thead>
                                        <tr><th>Información Eventos</th></tr>
                                    </thead>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="MesOp" class="control-label"></label><input asp-for="MesOp" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="Finicio" class="control-label"></label><input asp-for="Finicio" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="FFin" class="control-label"></label><input asp-for="FFin" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="EventName" class="control-label"></label><input asp-for="EventName" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="FinalClient" class="control-label"></label><input asp-for="FinalClient" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="ContactName" class="control-label"></label><input asp-for="ContactName" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="ContactContact" class="control-label"></label><input asp-for="ContactContact" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="Agency" class="control-label"></label><input asp-for="Agency" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="EventType" class="control-label"></label><input asp-for="EventType" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="EmpresaAV" class="control-label"></label><input asp-for="EmpresaAV" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="RsponsablePSAV" class="control-label"></label><input asp-for="RsponsablePSAV" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="VentasPSAV" class="control-label"></label><input asp-for="VentasPSAV" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="LB" class="control-label"></label><input asp-for="LB" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="Suma" class="control-label"></label><input asp-for="Suma" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="CRatio" class="control-label"></label><input asp-for="CRatio" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="HotelFee" class="control-label"></label><input asp-for="HotelFee" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><div class="form-group"><label asp-for="LBCause" class="control-label"></label><input asp-for="LBCause" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="NextEventDate" class="control-label"></label><input asp-for="NextEventDate" class="form-control" /></div></td>
                                        <td><div class="form-group"><label asp-for="NextEventPlace" class="control-label"></label><input asp-for="NextEventPlace" class="form-control" /></div></td>
                                    </tr>
                                    <tr>
                                        <td><button type="reset" class="btn btn-default">Cancelar Operación</button></td>
                                        <td><button type="submit" class="btn btn-default">Siguiente</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
        </form> 

        @if (ViewBag.CRLIt != null)
        {
            <div class="row">
                <div class="col-md-10">
                    <table border="0" class="table" width="100%">
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>LB</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var DetItem in ViewBag.CRLIt)
                            {
                                <tr>
                                    <td>@DetItem.EventName</td>
                                    <td>@DetItem.Finicio</td>
                                    <td>@DetItem.FFin</td>
                                    <td>@DetItem.LB</td>
                                </tr>
                            }
                            <form method="post" asp-action="NewCR" asp-controller="PSAV">
                                <tr><td><button type="submit" class="btn btn-default">Guardar</button></td></tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        }
       
}