@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using GCCorePSAV.Models
@using GCCorePSAV.Controllers.Services
@model NetCorePSAV.Models.NCRModel.newCRView
@inject LoggedInComponent Lgc
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@await Lgc.IsAuth(HttpContextAccessor.HttpContext.Request.Cookies["Bearer"], HttpContextAccessor.HttpContext.Request.Cookies["pandoraRules"])
@if (Lgc.isAuth)
{
    <div class="row"><h5>Nuevo Capture Ratio</h5></div>
    <div class="row">
        <div class="col-lg-6">
            <table>
                <tr>
                    <td><div class="form-group"><label asp-for="DET" class="control-label"></label><select asp-for="DET" class="form-control"></select></div></td>
                    <td><div class="form-group"><label asp-for="SMgr" class="control-label"></label><select asp-for="SMgr" class="form-control"></select></div></td>
                </tr>
                <tr>
                    <td><div class="form-group"><label asp-for="NLocation" class="control-label"></label><select asp-for="NLocation" class="form-control"></select></div></td>
                    <td><div class="form-group"><label asp-for="NuLocation" class="control-label"></label><select asp-for="NuLocation" class="form-control"></select></div></td>
                </tr>
                <tr>
                    <td><div class="form-group"><label asp-for="prospecto" class="control-label"></label><select asp-for="prospecto" class="form-control"></select></div></td>
                    <td><div class="form-group"><label asp-for="empresa" class="control-label"></label><select asp-for="empresa" class="form-control"></select></div></td>
                </tr>
                <tr>
                    <td><div class="form-group"><label asp-for="correo" class="control-label"></label><select asp-for="correo" class="form-control"></select></div></td>
                    <td><div class="form-group"><label asp-for="telefono" class="control-label"></label><select asp-for="telefono" class="form-control"></select></div></td>
                </tr>
            </table>
        </div>
    </div>
}